/*===============================*/
/* HEADER */
/*===============================*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 7rem;
  padding: 0 4.8rem;

  position: relative;

  background-color: #182225;
  border: 0.1rem solid #b5c7cf;
}

.btn-open-hint,
.btn-close-hint {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-hint {
  font-size: 4rem;
  color: #b5c7cf;
}

.hint-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: min(60rem, 100%);

  background-color: #182225;
  border: 0.1rem solid #b5c7cf;

  transform: translateX(-100%);
  transition: transform 0.75s ease;

  z-index: 999;
}

.hint-container.show {
  transform: translateX(0%);
}

.hint-container.show ~ #overlay {
  display: block;
}

.hint-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 7rem;
  margin: 0 4.8rem;

  position: relative;

  background-color: #182225;
  border-bottom: 0.1rem solid #b5c7cf;
}

.hint-title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #b5c7cf;
  background-color: #253439;
  padding: 1rem 4.8rem;
  border-radius: 0.5rem;

  border: 0.1rem solid #b5c7cf;
}

.hint-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 7rem);
  width: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.rastros-logo {
  width: 18rem;
}

.btn-open-nav,
.btn-close-nav {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-open-nav,
.icon-close-nav {
  font-size: 4rem;
  color: #b5c7cf;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: min(45rem, 100%);

  background-color: #182225;
  border: 0.1rem solid #b5c7cf;

  transform: translateX(100%);
  transition: transform 0.75s ease;

  z-index: 999;
}

.navbar.show {
  transform: translateX(0%);
}

.navbar.show ~ #overlay {
  display: block;
}

.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar li:first-child {
  padding: 0rem 4.8rem;
  justify-content: flex-end;

  margin-bottom: -2rem;
}

.navbar li:not(:first-child) {
  justify-content: flex-start;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
}

.btn-close-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  width: 100%;
  padding: 2rem 4rem;

  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
  color: #b5c7cf;
  text-shadow: 2px 1px 0px #253439;

  transition: 150ms ease;
}

.navbar a:hover,
.navbar a:active {
  background-color: #253439;
  color: #b5c7cf;
  text-shadow: 0px 0px 0px #fff0;
}

#overlay {
  background-color: #1822259c;
  position: fixed;
  inset: 0;
  z-index: 998;

  display: none;
}

/*===============================*/
/* SECTION GAME */
/*===============================*/

.section-game {
  height: calc(100vh - 14rem);
  background-color: #253439;
  border-left: 0.1rem solid #b5c7cf;
  border-right: 0.1rem solid #b5c7cf;
}

/*===============================*/
/* FOOTER */
/*===============================*/

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 7rem;

  position: relative;

  background-color: #182225;
}

/*===============================*/
/* FOOTER SUSPECTS */
/*===============================*/

.btn-open-suspects {
  height: 7rem;
  width: calc(100% / 3);

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: #182225;
  border: 0.1rem solid #b5c7cf;
  padding: 0 4.8rem;

  z-index: 100;
}

.btn-close-suspects {
  height: 7rem;
  width: calc(100% / 3);

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #182225;
  border: 0.1rem solid #b5c7cf;
  padding: 0 4.8rem;

  z-index: 100;
}

.btn-open-suspects:hover,
.btn-open-suspects:active,
.btn-close-suspects:hover,
.btn-close-suspects:active {
  background-color: #253439;
}

.icon-suspects,
.icon-close-suspects {
  font-size: 4rem;
  color: #b5c7cf;
}

.btn-title-suspects,
.btn-title-close-suspects {
  font-size: 2.8rem;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #b5c7cf;
}

.suspects-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: min(calc(80rem - 14rem), calc(100% - 14rem));

  background-color: #182225;
  border: 0.1rem solid #b5c7cf;

  transform: translateY(100%);
  transition: transform 0.75s ease;

  z-index: 99;
}

.suspects-container.show {
  transform: translateY(calc(0% - 7rem));
}

.suspects-container.show ~ #overlay {
  display: block;
}

/*===============================*/
/* FOOTER LOCALS */
/*===============================*/

.btn-open-locals,
.btn-close-locals {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 7rem;
  width: calc(100% / 3);

  background-color: #182225;
  border-top: 0.1rem solid #b5c7cf;
  border-bottom: 0.1rem solid #b5c7cf;

  z-index: 100;
}

.btn-open-locals:hover,
.btn-close-locals:active {
  background-color: #253439;
}

.icon-locals {
  font-size: 4rem;
  color: #b5c7cf;
}

.btn-title-locals {
  font-size: 2.8rem;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #b5c7cf;
}

/* .locals-container {
} */

/*===============================*/
/* FOOTER WEAPONS */
/*===============================*/

.btn-open-weapons,
.btn-close-weapons {
  height: 7rem;
  width: calc(100% / 3);

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: #182225;
  border: 0.1rem solid #b5c7cf;
  padding: 0 4.8rem;

  z-index: 100;
}

.btn-open-weapons:hover,
.btn-close-weapons:active {
  background-color: #253439;
}

.icon-weapons {
  font-size: 4rem;
  color: #b5c7cf;
}

.btn-title-weapons {
  font-size: 2.8rem;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #b5c7cf;
}

/* .weapons-container {
} */
